body {
    display: flex;
    flex-direction: column;
    background-image: url("../img/background-image2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.reset-pane {
    background-color: var(--background);
    width: 420px;
    opacity: .95;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 10%;
    border-radius: 20px;
    color: var(--text);
}


.reset-pane h1 {
    color: var(--text);
}

.reset-pane form input {
    width: 100%;
    margin-bottom: 8%;
    height: 35px;
    background-color: var(--background);
    border: 1px solid var(--text);
    border-radius: 5px;
    color: var(--text);
    font-size: 15px;
}

.reset-pane button {
    position: relative; 
    overflow: hidden; 
    width: 47%;
    padding: 2% 0;
    text-align: center;
    border-radius: 10px;
    border: 1px solid var(--link); 
    background-color: var(--background);
    color: var(--link);
    cursor: pointer;
    transition: color 0.8s ease; 
    z-index: 1;
    font-size: 1rem;
    margin-bottom: 8%;
}

.reset-pane button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--link);
    transition: left 0.8s ease;
    z-index: -1;
}

.reset-pane button:hover::before {
    left: 0; 
}

.reset-pane button:hover {
    color: var(--background);
}