*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html:focus-within {
    scroll-behavior: smooth;
}


:root {
    --background: #0c131f;
    --text: white;
    --link: #FED47E;
}

.content-wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footer-content {
    width: 100%;
    height: 15%;
    background-color: #101a2b;
}
