<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}" />
</head>

<body>
    {% if user %}
    <h1>Welcome, {{ user }}</h1>
    {% endif %}

    {% if characters %}
    {% for character in characters %}
    <h1>{{ character }}</h1>
    {% endfor %}
    {% endif %}

    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>

    <!--
    <footer class="footer-content">
        
    </footer>
    -->
</body>

</html>