<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loginpage.css') }}" />
</head>

<body>
    <div class="content-wrap">
        <div class="login-pane">
            <h1>Login</h1>
            <form method="POST" action="{{ url_for('login') }}">
                <input type="email" id="email" name="email" placeholder="Email"><br>
                <input type="password" id="password" name="password" placeholder="Password" required
                    style="margin-bottom: 15%;"><br>
            </form>
            <button type="submit">Log In</button>
            <div class="links">
                <a href="{{ url_for('reset_password') }}">Forgot password?</a>
                <a href="{{ url_for('register') }}" style="margin-top: 10%;">Create an account</a>
            </div>
        </div>
    </div>


    <!--
    <footer class="footer-content">
        
    </footer>
    -->
    <script src="loginpage.js"></script>
</body>

</html>