<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loginpage.css') }}" />
</head>

<body>
    <div class="content-wrap">
        <div class="login-pane">
            <h1>Login</h1>
            <form id="login-form" method="post" action="/login">
                <input type="email" id="email" name="email" placeholder="Email" required value="{{ email|default('') }}"><br>
                <input type="password" id="password" name="password" placeholder="Password" required><br>
            </form>

            {% if error_message %}
            <div class="error-message" style="color: red; margin-bottom: 5%;">
                {{ error_message }}
            </div>
            {% endif %}

            {% if success_message %}
            <div class="success-message" style="color: green; margin-bottom: 5%;">
                {{ success_message }}
            </div>
            {% endif %}
        

            <button id="login-button" type="submit">Log In</button>
            <div class="links">
                <a href="{{ url_for('reset_password') }}">Forgot password?</a>
                <a href="{{ url_for('register') }}" style="margin-top: 10%;">Create an account</a>
            </div>
        </div>
    </div>

    <!--
    <footer class="footer-content">
        
    </footer>
    -->
    
</body>
<script>
    document.getElementById('login-button').addEventListener('click', function () {
        document.getElementById('login-form').submit();
    });
</script>

</html>