<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}" />
</head>

<body>
    <div class="content-wrap">
        <div class="register-pane">
            <h1>Register</h1>
            <form id="register-form" action="/register" method="post">
                <input type="email" id="email" name="email" placeholder="Email" required><br>
                <input type="password" id="password" name="password" placeholder="Password" required><br>
                <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password"
                    required><br>
            </form>
            <button id="register-button" type="submit">Register</button>
            <div class="links">
                <a href="/">Already have an account? Log In</a>
            </div>
            
        </div>
    </div>

    <!--
    <footer class="footer-content">
        
    </footer>
    -->
</body>
<script>
    document.getElementById('register-button').addEventListener('click', function () {
        document.getElementById('register-form').submit();
    });
</script>

</html>