<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resetpassword.css') }}" />
</head>

<body>
    <div class="content-wrap">
        <div class="reset-pane">
            <h1>Reset Password</h1>
            <form id="reset-password-form" action="/reset_password" method="post">
                <input type="email" id="email" name="email" placeholder="Email" required><br>
            </form>
            <button id="reset-password-button" type="submit">Reset Password</button>
        </div>
    </div>
</body>

<script>
    document.getElementById('reset-password-button').addEventListener('click', function () {
        document.getElementById('reset-password-form').submit();
    });
</script>

</html>